.todo-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.completed {
  text-decoration: line-through;
}
.myinput {
  height: 2.4em;
  width: 17em;
}
.fa-plus {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
